<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            {% include icon-instagram.html username=jeffkenton %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      <!--  <p>{{ site.description }}</p> -->
	<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> <br/> Buy me a coffee: <a href="https://ko-fi.com/jeffkenton">https://ko-fi.com/jeffkenton</a></p>
      </div>

    </div>

  </div>

</footer>
